@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #000;
  overscroll-behavior-y: none;
  color: white;
}

svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}
